<form [formGroup]="form" (ngSubmit)="submit(form)">
  <span matPrefix>[</span>
  <mat-form-field>
    <input matInput formControlName="sequenceFormControl" placeholder="1,2,3,4,..." #sequenceFormControl>
  </mat-form-field>
  <span matPrefix>]</span>
  <button mat-button type="submit">Decode</button>
  <mat-error
    *ngIf="(form.controls['sequenceFormControl'].touched || form.controls['sequenceFormControl'].dirty) &&
    form.controls['sequenceFormControl'].invalid">
    Please enter a <strong>valid</strong> Pr&#252;fer number sequence
  </mat-error>
</form>

<app-graph-view [nodes]="nodes" [edges]="edges" [readonly]="true"></app-graph-view>
